body {
    /* width: 960px; */
    background-image: url(../images/circles-dark.png);
    margin: 0 auto;
    font-family: Georgia, Times, "Times New Roman", serif;
}
div.title {
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: #4aaaa5;
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 18px 22px;
    text-align: center;
    font-size: 26px;
    position: fixed;
    top: 17px;
}
li {
    float: right;
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    margin-top: 16px;
}
nav {

}
div.heading {
    width: 100%;
    height: 48px;
    background-color: white;
    padding-top: 1px;
    padding-bottom: 30px;
    /* padding-right: 100%; */
    /* padding-left: 100%; */
    border-style: hidden hidden solid hidden;
    border-color: #cccccc;
    border-width: 3px;

}
#contact {
    font-size: 24px;
    color: #777777;
    background-color: white;
    text-decoration: none;
    position: relative;
    right: 30px;
    top: 48px;
}
#portfolio {
    font-size: 24px;
    color: #777777;
    background-color: white;
    text-decoration: none;
    position: relative;
    right: 45px;
    top: 48px;
}
#index {
    font-size: 24px;
    color: #777777;
    background-color: white;
    text-decoration: none;
    position: relative;
    right: 60px;
    top: 48px;
}
div.cTitle {
    position: relative;
    width: 100%;
    background-color: white;
    padding-bottom: 14px;
    padding-top: 20px;
    text-align: left;
    color: #4aaaa5;
    font-size: 26px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-style: hidden hidden solid hidden;
    border-color: #dddddd;
    border-width: 3px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;

}
div.content {
    width: 100%;
    background-color: white;
    padding-top: 7px;
    position: relative;
    font-size: 21px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: left;
    line-height: 1.5;
    color: #777777;
    padding-bottom: 5px;
}
.footer {
    background-color: #666666;
    width: 100%;
    border-style: solid hidden hidden hidden;
    border-color: #4aaaa5;
    height: 20px;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 40px;
    position:fixed;
    bottom:0;
    left:0;
}
#profile {
    float: left;
    padding-right: 10px;
    margin: 0px 10px 10px 10px;
}
form {
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
div.headingFormat {
    margin-left: -480px;
    left: 50%;
    width: 960px;
    height: 100%;
    position: relative;
}
h2.sTitle {
    margin-left: 10px;
}
p.insideContent {
    margin: 0px 15px 15px 15px;
}
div.forumContent {
    margin: 0px 15px 15px 15px;
}
#PH1 {
    margin: 0px 15px 15px 15px;
}
#PH2 {
    margin: 0px 15px 15px 0px;
}
#PH3 {
    margin: 0px 15px 15px 15px;
}
#PH4 {
    margin: 0px 15px 15px 0px;
}
#PH5 {
    margin: 0px 15px 15px 15px;
}
span.caption1 {
    padding: 10px 125px 10px 125px;
    right: 67.8%;
    bottom: 72%;
    background-color: #4aaaa5;
    color: white;
    position: absolute;
}
span.caption2 {
    padding: 10px 125px 10px 125px;
    right: 67.8%;
    bottom: 72%;
    background-color: #4aaaa5;
    color: white;
    position: absolute;
}
span.caption2 {
    padding: 10px 125px 10px 125px;
    right: 34.25%;
    bottom: 72%;
    background-color: #4aaaa5;
    color: white;
    position: absolute;
}
span.caption3 {
    padding: 10px 125px 10px 125px;
    right: 67.8%;
    bottom: 39%;
    background-color: #4aaaa5;
    color: white;
    position: absolute;
}
span.caption4 {
    padding: 10px 125px 10px 125px;
    right: 34.25%;
    bottom: 39%;
    background-color: #4aaaa5;
    color: white;
    position: absolute;
}
span.caption5 {
    padding: 10px 125px 10px 125px;
    right: 67.8%;
    bottom: 6%;
    background-color: #4aaaa5;
    color: white;
    position: absolute;
}
@media screen and (max-width: 980px) {
    div.headingFormat {
        margin-left: -384px;
        left: 50%;
        width: 768px;
        height: 100%;
        position: relative;
    }
    span.caption1 {
        padding: 10px 125px 10px 125px;
        right: 59.5%;
        bottom: 72%;
        background-color: #4aaaa5;
        color: white;
        position: absolute;
    }
    span.caption2 {
        padding: 10px 125px 10px 125px;
        right: 17.75%;
        bottom: 72%;
        background-color: #4aaaa5;
        color: white;
        position: absolute;
    }
    span.caption3 {
        padding: 10px 125px 10px 125px;
        right: 59.5%;
        bottom: 39%;
        background-color: #4aaaa5;
        color: white;
        position: absolute;
    }
    span.caption4 {
        padding: 10px 125px 10px 125px;
        right: 17.75%;
        bottom: 39%;
        background-color: #4aaaa5;
        color: white;
        position: absolute;
    }
    span.caption5 {
        padding: 10px 125px 10px 125px;
        right: 59.5%;
        bottom: 6%;
        background-color: #4aaaa5;
        color: white;
        position: absolute;
    }
}
@media screen and (max-width: 768px) {
    div.headingFormat {
        margin-left: -300px;
        left: 50%;
        width: 600px;
        height: 100%;
        position: relative;
    }
    #PH1 {
        margin: 0px 15px 0px 15px;
    }
    #PH2 {
        margin: 0px 15px 0px 15px;
    }
    #PH3 {
        margin: 0px 15px 0px 15px;
    }
    #PH4 {
        margin: 0px 15px 0px 15px;
    }
    #PH5 {
        margin: 0px 15px 0px 15px;
    } 
    span.caption1 {
        padding: 10px 125px 10px 125px;
        right: 48.25%;
        bottom: 81.5%;
        background-color: #4aaaa5;
        color: white;
        position: absolute;
    }
    span.caption2 {
        padding: 10px 125px 10px 125px;
        right: 48.25%;
        bottom: 61.75%;
        background-color: #4aaaa5;
        color: white;
        position: absolute;
    }
    span.caption3 {
        padding: 10px 125px 10px 125px;
        right: 48.25%;
        bottom: 41.75%;
        background-color: #4aaaa5;
        color: white;
        position: absolute;
    }
    span.caption4 {
        padding: 10px 125px 10px 125px;
        right: 48.25%;
        bottom: 21.75%;
        background-color: #4aaaa5;
        color: white;
        position: absolute;
    }
    span.caption5 {
        padding: 10px 125px 10px 125px;
        right: 48.5%;
        bottom: 6%;
        background-color: #4aaaa5;
        color: white;
        position: absolute;
    }
}
@media screen and (max-width: 640px) {
    div.headingFormat {
        margin-left: -270px;
        left: 50%;
        width: 540px;
        height: 100%;
        position: relative;
    }
    .footer {
        padding-top: 15px;
    }
        span.caption1 {
            padding: 10px 125px 10px 125px;
            right: 42.5%;
            bottom: 81.5%;
            background-color: #4aaaa5;
            color: white;
            position: absolute;
        }
        span.caption2 {
            padding: 10px 125px 10px 125px;
            right: 42.5%;
            bottom: 61.75%;
            background-color: #4aaaa5;
            color: white;
            position: absolute;
        }
        span.caption3 {
            padding: 10px 125px 10px 125px;
            right: 42.5%;
            bottom: 41.75%;
            background-color: #4aaaa5;
            color: white;
            position: absolute;
        }
        span.caption4 {
            padding: 10px 125px 10px 125px;
            right: 42.5%;
            bottom: 21.75%;
            background-color: #4aaaa5;
            color: white;
            position: absolute;
        }
        span.caption5 {
            padding: 10px 125px 10px 125px;
            right: 42.5%;
            bottom: 6%;
            background-color: #4aaaa5;
            color: white;
            position: absolute;
        }
}